:root {
  --color-primary: white;
  --color-accent: #8ea4c9;
  --color-button: #c4b8aa;
  --text-color1: black;
  --text-color2: hsl(228, 12%, 44%);
  --card-bg: white;
  --font-stack: 'Inter', sans-serif;
}

@mixin flexboxCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}
