.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  animation: modalAnim 0.7s linear forwards;
}

@keyframes modalAnim {
  0% {
    background-color: rgba(0, 0, 0, 0.1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.modal-content {
  background-color: var(--color-primary);
  border-radius: 8px;
  margin: 10% auto;
  width: 55%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation: formAnim 0.6s ease-in-out forwards;

  .modal-header {
    @include flexboxCenter();
    border-radius: 8px 8px 0 0;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--text-color1);
    color: var(--color-primary);

    h2 {
      font-size: 2rem;
    }

    button {
      font-size: 1.5rem;
      background: none;
      outline: none;
      border: none;
      color: var(--color-primary);
      cursor: pointer;
    }
  }
}

@keyframes formAnim {
  0% {
    transform: translateX(-200%) rotate(-90deg);
  }
  50% {
    transform: translateX(4%) rotate(4deg);
  }
  100% {
    transform: translateX(0%);
  }
}
