.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: var(--color-primary);
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);

  .modal-header {
    @include flexboxCenter();
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--color-accent);
    color: var(--color-primary);

    button {
      font-size: 1.5rem;
      background: none;
      outline: none;
      border: none;
      color: var(--color-primary);
      cursor: pointer;
    }
  }
}
