.notesContainer {
  display: flex;
  flex-direction: column;
}

.noteCard {
  margin-top: 1rem;
  border-radius: 6px;
  background-color: var(--card-bg);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  .note-header {
    padding: 1rem;
    @include flexboxCenter();
    justify-content: space-between;
    background-color: var(--text-color1);
    border-radius: 6px 6px 0 0;
    color: var(--color-accent);

    button {
      font-size: 0.8rem;
      font-weight: 600;
      border: none;
      outline: none;
      background-color: var(--color-accent);
      padding: 0.3rem 0.6rem;
      border-radius: 50%;
      color: var(--text-color1);
      cursor: pointer;
    }
  }

  p {
    padding: 1rem 1rem 0.75rem 1rem;
    color: var(--text-color1);
  }

  button {
    display: block;
    outline: none;
    cursor: pointer;
    border: none;
    background-color: var(--color-accent);
    color: var(--text-color1);
    padding: 0.65rem;
    border-radius: 6px 0 6px 0;
    margin-left: auto;
  }
}
