.projectSection {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  background-color: var(--color-accent);
  color: var(--color-primary);
  padding: 1rem 0;
  font-weight: 600;

  h2 {
    padding: 0 0.5rem;
  }

  ul {
    list-style: none;

    li {
      @include flexboxCenter();
      justify-content: space-between;
      cursor: pointer;
      padding: 0.3rem 0.5rem;
    }

    .active {
      background-color: var(--color-primary);
      color: var(--text-color1);
    }
  }
}
.addProject {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;

  .addProjectButton {
    background-color: var(--color-accent);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    color: var(--color-primary);
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    outline: none;
  }
}
