.projectSection {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 90vh;
  background-color: var(--color-accent);
  color: var(--text-color1);
  font-weight: 600;
  user-select: none;

  ul {
    list-style: none;

    li {
      @include flexboxCenter();
      justify-content: space-between;
      cursor: pointer;
      padding: 0.4rem 0.5rem;

      #deleteProject {
        color: var(--text-color1);
      }
    }

    .active {
      background-color: #edf5e1;
      color: var(--text-color1);
    }
  }
}
.addProject {
  @include flexboxCenter();
  background-color: var(--text-color1);
  color: var(--color-primary);
  justify-content: space-between;
  padding: 1rem 0.5rem 1.5rem 0.5rem;

  .addProjectButton {
    background-color: var(--text-color1);
    color: var(--color-primary);
    font-weight: 600;
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
    outline: none;
  }
}
