main {
  display: flex;
  justify-content: space-between;
  width: 78%;
  clear: right;
  padding: 0 1rem;

  section {
    width: 33.33333%;
    padding: 1rem;
  }
  .section-head {
    @include flexboxCenter();
    justify-content: space-between;
    font-size: 1.2rem;

    button {
      @include removeBtnDefaults();
      border-radius: 20px;
      padding: 0.3rem 0.7rem;
      font-family: var(--font-button);
      background-color: var(--text-color1);
      box-shadow: 0 6px 30px -10px rgba(#4a74c9, 1);
      color: var(--color-primary);
    }
  }
}
