form {
  padding: 1rem;

  .form-heading {
    border: none;
    color: var(--text-color1);
    border-bottom: 2px solid var(--text-color1);
    font-size: 2rem;
    width: 100%;
  }

  .form-note {
    border: none;
    color: var(--text-color1);
    border-bottom: 2px solid var(--text-color1);
    font-size: 1.2rem;
    width: 100%;
    margin: 2rem 0 0 0;
  }

  .form-heading:focus,
  .form-note:focus {
    border: none;
    border-bottom: 2px solid var(--color-accent);
    outline: none;
  }

  button {
    @include removeBtnDefaults();
    font-family: var(--font-button);
    margin: 2rem 0 0 0;
    padding: 0.7rem 1.7rem;
    font-size: 1.2rem;
    color: var(--color-primary);
    background: var(--text-color1);
    border-radius: 12px;
    box-shadow: 0 6px 30px -10px rgba(#4a74c9, 1);
  }

  .error-msg {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    display: inline;
    color: #dc3545;
  }
}
