.notesContainer {
  display: flex;
  flex-direction: column;
  min-height: 150px; // for dragNdrop to work
}

.noteCard {
  margin-top: 1rem;
  border-radius: 6px;
  background-color: var(--card-bg);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);

  .note-header {
    padding: 0.5rem 1rem 0.5rem 1rem;
    @include flexboxCenter();
    justify-content: space-between;
    background-color: var(--text-color1);
    position: relative;
    border-radius: 6px 6px 0 0;
    color: var(--color-accent);

    button {
      position: absolute;
      right: 5px;
      top: 0px;
      width: 20px;
      height: 20px;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
      &:before,
      &:after {
        position: absolute;
        left: 3px;
        content: ' ';
        height: 20px;
        width: 2px;
        background-color: var(--color-accent);
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  p {
    padding: 0.75rem 1rem;
    color: var(--text-color1);
  }

  button {
    outline: none;
    cursor: pointer;
    border: none;
    margin: 0 0 0.75rem 0.75rem;
    background-color: var(--text-color1);
    color: var(--color-primary);
    font-family: var(--font-button);
    padding: 0.65rem;
    border-radius: 6px;
  }
}
