@import 'config';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: var(--font-stack);
  color: var(--text-color1);
  background-color: var(--color-primary);
  margin: auto;
}
.logo {
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: var(--text-color1);

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.appInterface {
  display: flex;
}

@import 'projectSection';
@import 'images';
@import 'modals';
@import 'modalForm';
@import 'mainSection';
@import 'noteCards';
@import 'dragNdrop';

@import 'mediaQueries';
